[Unit]
Description= ENIQ Monitor Service
Requires=NAS-online.service
After=NAS-online.service

[Service]
Type=forking
ExecStart=/eniq/smf/bin/eniq_smf_start_stop.sh -a start -s esm
ExecStop=/eniq/smf/bin/eniq_smf_start_stop.sh -a stop -s esm
TimeoutStartSec=0
TimeoutStopSec=120
StartLimitInterval=60
StartLimitBurst=3
Restart=always
RestartSec=15

[Install]
WantedBy= multi-user.target NAS-online.service
